.ticket {
    background-color: var(--bg-gray);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--text-gray);

    h3 {
        color: var(--text-lines);
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    p {
        font-size: 12px;
        font-weight: 600;
        line-height: 25px;
    }
    ul {
        font-size: 12px;
        padding-left: 12px;
    }
}
